.page-content {
    padding-top: 10px;
}

    .page-content .control-group {
        line-height: 1.5;
        //margin-bottom: 2px;
        *zoom: 1;
    }

        .page-content .control-group:before, .page-content .control-group:after {
            content: " ";
            display: table;
        }

        .page-content .control-group:after {
            clear: both;
        }

        .page-content .control-group .control-label {
            float: left;
            width: 180px;
            padding: 10px 0;
            text-align: right;
            line-height:inherit;
            margin-bottom: 0;
        }

        .page-content .control-group .controls {
            margin-left: 180px;
        }
        .page-content .control-group .controls .sui-text {
            padding:0 6px !important;
        }
