@{
    Layout = null;
}
<div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content border-top">
                        <div class="controls controls-row">
                            <label class="span1 m-wrap search-label">脚本名称</label>
                            <input type="text" class="span2 m-wrap" value="" placeholder="请输入脚本名称" id="name" />
                            <label class="span1 m-wrap search-label">适配App</label>
                            @Html.DropDownList("ddAppList", ViewBag.AppList as List<SelectListItem>, new { @class = "span11 m-wrap" })
                            <label class="span1 m-wrap search-label">分辨率</label>
                            @Html.DropDownList("ddDpiList", ViewBag.DpiList as List<SelectListItem>, new { @class = "span11 m-wrap" })
                            <label class="span1 m-wrap search-label">手机型号</label>
                            @Html.DropDownList("ddMobileTypes", ViewBag.MobileTypes as List<SelectListItem>, new { @class = "span11 m-wrap" })
                            <button class="span11 m-wrap  btn btn-success" type="button" id="btnSearch">查询</button>
                            <input type="hidden" id="hdIndex" value="1" />
                        </div>
                    </div>
                    <div id="container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 @Scripts.Render("~/Scripts/Page/showpage.js")
<script type="text/javascript">
        $(function () {
            //初始化列表数据
            getPageData($("#hdIndex").val());
            //搜索
            $('#btnSearch').click(function (e) {
                getPageData(1);
            });
            $("#ddAppList,#ddDpiList,#ddMobileTypes").change(function () {
                getPageData(1);//下拉框值变换事件
            });
        });
        //获取分页数据
        function getPageData(index) {
            $.get("/Script/_ScriptList/" + index + "?random=" + Math.random(), {
                name: $("#name").val().trim(),
                app: $("#ddAppList").val()==-99?"":$("#ddAppList").find("option:selected").text(),
                dpi: $("#ddDpiList").val(),
                mType: $("#ddMobileTypes").val()
            }, function (data) {
                $('#container').html(data);
            });
        }
</script>